* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/* font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif; */

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

body {
  /* transition-delay: 0.3s; */
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 1200px;
  height: auto;
  margin: 0 auto;
}

.hundredpxpad {
  padding: 100px 0;
}

h2 {
  /* font-family: "Playfair Display", serif; */
  /* font-style: italic; */
  font-weight: 200;
  font-size: 3em;
}

p {
  font-weight: 200;
  font-size: 1.2em;
  line-height: 1.8em;
}

.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn {
  position: absolute;
  background-color: #481513;
  padding: 10px;
  margin: 20px 0;
  color: #fffaf0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9em;
}

nav {
  width: 100%;
  position: absolute;
  display: block;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
}

.header {
  width: 100%;
  height: auto;
}

/* UPPER HEADER */
.hicons {
  font-size: 1.2em;
  vertical-align: text-bottom;
}

.uheader {
  width: 100%;
  height: 50px;
  background-color: #fffaf0;
  border-bottom: 1px solid #c4946b;
}

.uheader a {
  display: block;
  float: left;
  margin: 15px 20px 0 0;
}
.uheader a {
  font-size: 0.9em;
  color: #c4946b;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.uheader a:hover {
  color: #481513;
}

/* LOWER HEADER */
.lheader {
  width: 100%;
  height: 100px;
  /* border-top: 1px solid #c4946b; */
  /* border-bottom: 1px solid #c4946b; */
  background-color: #ffffff;
  box-shadow: 0px 3px 10px rgb(220, 220, 220);
  transition: 0.2s ease-in-out;
}

.lheader:hover {
  box-shadow: 0px 5px 10px rgb(230, 230, 230);
}

.lhead-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-cont {
  width: 30%;
  height: auto;
  float: left;
}

.logo-cont img {
  height: 80px;
  width: auto;
  padding: 10px 0;
}

.menus {
  width: auto;
  height: auto;
  align-items: center;
}

.menus ul {
  padding: 0;
  margin: 0;
}

.menus ul li {
  list-style-type: none;
  display: inline-block;
  float: left;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.9em;
  margin-top: 30px;
  color: #c4946b;
  transition: 0.2s ease-in-out;
}

.menus ul li:hover {
  color: #481513;
}

/* homepage */
.home {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.homeimg {
  width: 65%;
  margin: 0 auto;
  padding-top: 100px;
  display: block;
}

.homehead {
  width: 100%;
  height: auto;
  position: relative;
  bottom: 200px;
  z-index: 10;
}

.homehead h1 {
  font-family: "Open Sans", sans-serif;
  /* font-family: "Playfair Display", serif; */
  font-weight: 400;
  text-align: center;
  font-size: 4em;
  line-height: 0.5em;
  font-weight: 200;
  /* font-style: italic; */
}

.brown {
  color: #481512;
}

.orange {
  color: #f05a28;
}

/* NIRAAMAYA */

.niraamaya {
  width: 100vw;
  height: auto;
  background-color: #fffaf0;
  position: relative;
  text-align: center;
}

.text-content {
  /* width: 100%; */
  height: auto;
  padding: 100px;
  border: 1px solid #c4946b;
}

.niraamaya h2 {
  margin-bottom: 20px;
}

.niraamaya p {
  margin-bottom: 20px;
}

.text-content img {
  width: 80px;
  padding: 20px 0 0;
}

/* DOCTORS */
.doctors {
  width: 100%;
}

.doc-cont {
  width: 100%;
  height: 300px;
}
.doc-pic {
  width: 300px;
  height: 300px;
  display: block;
  position: relative;
  float: left;
  padding-right: 50px;
}

.doc-pic img {
  width: 100%;
  height: auto;
  float: left;
  border-radius: 50%;
}

/* Online */
.online {
  width: 100%;
  background-color: #fffaf0;
}

.onlinetext {
  width: 50%;
  align-self: center;
  /* float: left; */
}

.online img {
  width: 30%;
}

/* Contact */
.contact {
  width: 100%;
  height: auto;
  background-color: #481513;
}

.cont-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cont-cont div {
  width: 33.33%;
  padding: 20px 0;
}

.cont-cont h3 {
  font-family: "Open Sans", sans-serif;
  color: #fffaf0;
  font-weight: 200;
  margin-bottom: 10px;
  font-size: 1em;
  color: #f05a28;
}

.cont-cont p {
  font-size: 0.8em;
  color: #fffaf0;
}

/* Copyright */
.copyright {
  width: 100%;
  height: auto;
  padding: 10px 0;
  background-color: #f05a28;
  font-size: 0.7em;
  /* font-weight: normal; */
  color: #481513;
}
