* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

body {
  /* transition-delay: 0.3s; */
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: lightgrey;
}

.container {
  width: 1200px;
  height: auto;
  margin: 0 auto;
}

nav {
  width: 100%;
  position: absolute;
  display: block;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
}

.header {
  width: 100%;
  height: auto;
}

/* UPPER HEADER */
.hicons {
  font-size: 1.2em;
  vertical-align: text-bottom;
}

.uheader {
  width: 100%;
  height: 50px;
  background-color: #fffaf0;
}

.uheader a {
  display: block;
  float: left;
  margin: 15px 20px 0 0;
}
.uheader a {
  font-size: 0.9em;
  color: #c4946b;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.uheader a:hover {
  color: #481513;
}

/* LOWER HEADER */
.lheader {
  width: 100%;
  height: 100px;
  border-top: 1px solid #c4946b;
  border-bottom: 1px solid #c4946b;
  background-color: #ffffff;
}

.lhead-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-cont {
  width: 30%;
  height: auto;
  float: left;
}

.logo-cont img {
  height: 80px;
  width: auto;
  padding: 10px 0;
}

.menus {
  width: auto;
  height: auto;
  align-items: center;
}

.menus ul {
  padding: 0;
  margin: 0;
}

.menus ul li {
  list-style-type: none;
  display: inline-block;
  float: left;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.9em;
  margin-top: 30px;
  color: #c4946b;
  transition: 0.2s ease-in-out;
}

.menus ul li:hover {
  color: #481513;
}

/* homepage */
.home {
  width: 100vw;
  height: 100vh;
  background-color: #c4946b;
  position: relative;
}

/* NIRAAMAYA */

.niraamaya {
  width: 100vw;
  height: 100vh;
  /* background-color: #c4946b; */
  position: relative;
}
